# Data files
data/raw/*.csv
data/processed/*.csv
*.csv
!requirements.txt

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints
Untitled*.ipynb
models/lstm_savedmodel/

results_minilm*/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Credentials
.env
secrets.json
credentials.json
.streamlit/secrets.toml    

# Logs
*.log
logs/

# Visualizations
visualizations/temp/

# Results
results/temp/

# Environments
.venv/
.venv310/
venv/
echo .venv_tf/
.venv_tf/
venv_tf/

